@{ ViewData["title"] = "首页";}

@model HomeIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>优客代购网</title>
    <link rel="stylesheet" href="~/css/buttoncss.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    
</head>

<body>
    <!--侧边导航开始-->
    <div id="navright" class="hidden-xs">
        <!--侧边导航user开始-->
        <div id="navrightuser">
            <a href="/Cart"><button onmouseover="this.style.backgroundColor='rgb(255,70,78)';" onmouseout="this.style.backgroundColor='#444444';" class="btn2"><span class="glyphicon glyphicon-user" style="color: white;"></span></button></a>
        </div>
        <div id="navbag" style="margin-top: 100%;color: white;">
            <button onmouseover="this.style.backgroundColor='rgb(255,70,78)';" data-toggle="modal" data-target="#myModa3" onmouseout="this.style.backgroundColor='#444444';" class="btn2">
                <span class="glyphicon glyphicon-shopping-cart" style="color: white;"></span>
                购物车
                <span class="badge">4</span>
            </button>
        </div>
        <div id="navrightlike" class="navrightdiv">
            <button onmouseover="this.style.backgroundColor='rgb(255,70,78)';" onmouseout="this.style.backgroundColor='#444444';" class="btn2 " data-toggle="modal" data-target="#myModa4"><span class="glyphicon glyphicon-heart" style="color: white;"></span></button>
        </div>
        <div id="navrightimg" style="margin-top: 400%;width:100%;height:98px">
           <img src="~/images/navrightimg.png">
        </div>
        <div id="navrightfoot" class="navrightdiv">
            <button onmouseover="this.style.backgroundColor='rgb(255,70,78)';" onmouseout="this.style.backgroundColor='#444444';" class="btn2"><span class="glyphicon glyphicon-pencil" style="color: white;"></span></button>
        </div>
        <!--侧边导航user结束-->
    </div>
    <!--侧边导航结束-->
    <!--巨幕开始-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"  style="z-index:3;margin-top: 100px;height: 400px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/background.jpg" alt="..." height="400px" ;>
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/images/goods.jpg" alt="..." >
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--巨幕结束-->
    <!--标签开始-->
    <div style="background-color: #2E2E2E;margin-top: -30px;">
        <div class="container" style="text-align: center;">
            <div class="row" style="padding: 10px 0;">
                <div class="col-md-4 col-xs-4 tabdiv action tab1">
                    <a role="tab" class="action taba" data-toggle="tab" href="#today1">今日特价</a>
                </div>
                <div class="col-md-4 col-xs-4 tabdiv tab1">
                    <a role="tab" class="taba" data-toggle="tab" href="#today2">9.9包邮</a>
                </div>
                <div class="col-md-4 col-xs-4 tabdiv tab1">
                    <a role="tab" class="taba" data-toggle="tab" href="#today3">今日上新</a>
                </div>
            </div>

        </div>
    </div>
    <div id="myTabContent" class="tab-content container-fluid" style="background-color: #242424;">
        @foreach (PlaceOrder po in Model.POrders)
        {
            <div class="col-md-3 col-sm-3 col-xs-6 goodsdiv" style="margin: 10px 0;">
                <a href='/Home/PDetail/@po.ObjId'><img src="~/images/goods.jpg" class="imgstyle"></a>
                <h3>@po.TheProductName</h3>
                <h3>¥@po.Price</h3>
            </div>
        }
        
    </div>
    <!--标签结束-->
    <!--热销推荐开始-->
    
<div class="container" style="padding: 0;">
    <div class="row" style="margin:  0;">
@foreach (ProductList pl in Model.Products)
{
        <div class="col-md-3 col-sm-3 col-xs-6 goodsdiv" style="margin: 10px 0;">
            <a href='/Home/Detail/@pl.p.ObjId'><img src="~/images/goods.jpg" class="imgstyle"></a>
            <h3>@pl.p.ProductName</h3>
            <h3>¥@pl.p.Price</h3>
        </div>
}
    </div>
    <nav aria-label="Page navigation " style="width: 320px;margin: 0 auto;">
        <ul class="pagination pagination-lg">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
    <!--热销推荐结束-->

    <!--购物车Modal开始-->
    <div class="modal fade" id="myModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">购物车</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-1 col-sm-1"><input type="checkbox" value="option1"></div>
                        <div class="col-md-3 col-sm-3"><img src="~/images/fushi.jpg" width="100%"></div>
                        <div class="col-md-3 col-sm-3 pannel-body-css1">春季新款男士低帮休闲鞋<br>颜色:<span class="spancss textbold">大红</span><br>尺码:<span class="spancss textbold">42</span></div>
                        <div class="col-md-3 col-sm-3" style="color: red;"><button class="cartbtn" id="carbtnj" onclick="cartsjian()">-</button><input type="text" style="width: 30px;text-align: center;" value="1" id="carttext"><button class="cartbtn" id="carbtna" onclick="cartsjia()">+</button></div>
                        <div class="col-md-2 col-sm-2 textbold" style="color: red;font-size: 18px;">¥98</div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-xs-3 pannel-body-css1"><input type="checkbox" value="option1">全选</div>
                        <div class="col-xs-4 pannel-body-css1" style="margin-top:3px"><a href="#">批量删除</a></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="submitlogin">结算</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--购物车Modal结束-->
    <!--收藏夹Modal开始-->
    <div class="modal fade" id="myModa4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">收藏夹</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-3 col-sm-3"><img src="~/images/fushi.jpg" width="100%"></div>
                        <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 pannel-body-css" style="font-size: 18px;line-height: 1em;">春季新款男士低帮休闲鞋<br><h5 style="margin-top: 20%;color: red;font-size: 18px;">¥148</h5></div>
                        <button href="#" class="col-md-2 col-sm-2 button button-glow button-border button-rounded button-primary" style="">删除</button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="submitlogin">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--收藏夹Modal结束-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
