@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = null;}
@model HomeIndexViewModel
@foreach (ProductList pl in Model.Products)
{
    <div class="col-md-3 col-sm-3 col-xs-6 goodsdiv" style="margin: 10px 0;">
        <a href='/Home/Detail/@pl.p.ObjId'><img src="~/images/goods.jpg" class="imgstyle"></a>
        <h3>@pl.p.ProductName</h3>
        <h3>¥@pl.p.Price</h3>
    </div>
}
