@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "付款成功";
    Layout = null;
    ViewBag.contBuy = "/";
}

<div>
    <span style="width:100%;text-align:center;">@ViewBag.paymentMsg</span>
</div>